{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 5%, not dead"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx", { "pragma": "h" }
    ]
  ]
}

